@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


ul{
    list-style: none;
}

.container1{
    position: relative;
    padding-top: 50%;
    padding-left: 50%;
}
.words{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100%;
    font-style: normal;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: double;
    padding: 50px;
}
